.root {
    /*-fx-background-color: #121b25;
    -fx-font-family: "Roboto;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;*/
}

#root-pane {
    -fx-font-family: "Roboto";
    -fx-background-color: #121b25;
}

.label {
    -fx-font-family: "Roboto";
    -fx-font-size: 7pt;
    -fx-text-fill: #bcc4cc;
}

.toggle-button .label {
    -fx-font-size: 7pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: #bcc4cc;
}

#section-title-label {
    -fx-font-size: 8pt;
}

#spectrum-circle-label {
    -fx-font-size: 7pt;
    -fx-text-fill: #253447;
}

#spectrum-circle-stroke {
    -fx-fill: #121b25;
    -fx-stroke-width: 0;
}

#spectrum-circle-fill {
    -fx-fill: rgb(255, 0, 0);
    -fx-stroke-width: 0;
}

#spectrum-circle-label {
    -fx-text-fill: #121b25;
}

#led_region {
    -fx-background-color: red;
    -fx-background-radius: 3 3 3 3;
}

.slider .thumb {
    -fx-background-color: #03a9f4;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
}

.slider .thumb:hover {
    -fx-background-color: #29b6f6;
}

.slider .track {
    -fx-background-color: #253447;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
}

.choice-box {
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 3px, 3px;

    -fx-text-fill: #bcc4cc;
    -fx-background-color: #253447;
    -fx-mark-color: #bcc4cc;
    -fx-font-family: "Roboto";
    -fx-font-size: 7pt;
}

.choice-box:hover {
    -fx-background-color: #2c3b4f;
}

.choice-box:pressed {
    -fx-background-color: #253447;
}

.choice-box .context-menu {
    -fx-background-color: #2c3b4f;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 3px, 3px;
}

.choice-box .menu-item:focused {
    -fx-background-color: #03a9f4;
    -fx-focused-mark-color: #2c3b4f;
    -fx-background-radius: 2px, 2px, 2px, 2px;
}

.choice-box .menu-item > .label {
    -fx-text-fill: #bcc4cc;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: #2c3b4f;
}

.check-box .box {
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 3px, 3px;
    -fx-background-color: #253447;
}

.check-box .box:hover {
    -fx-background-color: #2c3b4f;
}

.check-box .box:pressed {
    -fx-background-color: #253447;
}

.check-box:selected .mark {
    -fx-background-color: #03a9f4;
}

#title-bar-button {
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: #121b25;
}

#title-bar-button:hover {
    -fx-background-color: #2c3b4f;
}

#title-bar-button:pressed {
    -fx-background-color: #253447;
}

#title-bar-button-shape {
    /*-fx-stroke: #03a9f4;*/
    -fx-stroke: #bcc4cc;
    -fx-stroke-width: 2;
}

.toggle-button {
    -fx-background-color: -fx-shadow-highlight-color,
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 3px, 3px;

    -fx-text-fill: #bcc4cc;
    -fx-background-color: #253447;
    -fx-font-family: "Roboto";
    -fx-font-size: 7pt;
}

.toggle-button:hover {
    -fx-background-color: #2c3b4f;
}

.toggle-button:pressed {
    -fx-background-color: #253447;
    -fx-border-radius: 3px, 3px, 3px, 3px;
    -fx-border-color: #03a9f4;
    -fx-border-width: 0;
}

.toggle-button:selected {
    -fx-background-color: #03a9f4;
    -fx-text-fill: #1c2939;
}

.toggle-button #button-text {
    -fx-text-fill: #bcc4cc;
}

.toggle-button:selected #button-text {
    -fx-text-fill: #1c2939;
}

.toggle-button:selected .button-shortcut-label {
    -fx-background-color: #03a9f4;
    -fx-text-fill: #1c2939;
}

.toggle-button:selected:hover {
    -fx-background-color: #29b6f6;
}

.toggle-button:selected:pressed {
    -fx-background-color: #03a9f4;
}

.radio-button .radio {
    -fx-background-color: #253447;
    -fx-background-insets: 0, 1, 1;
    -fx-background-radius: 1.0em; /* makes sure this remains circular */
    -fx-padding: 4px;
}

.radio-button .text {
    -fx-font-size: 7pt;
    -fx-fill: #bcc4cc;
}

.radio-button:selected .radio .dot {
    -fx-background-insets: 0, 1, 1;
    -fx-background-color: #03a9f4;
}

.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button .radio:hover {
    -fx-background-color: #2c3b4f;
    -fx-background-image: null;
}

.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.title-bar {
    -fx-background-color: #121b25;
}

#primary-button {
    -fx-background-color: #ff0000;
    -fx-text-fill: #1c2939;
}

#secondary-button {
    -fx-background-color: #00ff00;
    -fx-text-fill: #1c2939;
}

#tertiary-button {
    -fx-background-color: #0000ff;
    -fx-text-fill: #1c2939;
}